[run]
omit =
        */alembic/*
        */PyCharm Professional Edition.app/Contents/plugins/*
        */__init__.py
        */migrations/*

concurrency = gevent

exclude_lines =
        # pragma: no cover